@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Minimal3x5';
  src: url('./fonts/minimal3x5.ttf') format('truetype');
}

body {
  font-family: 'Minimal3x5', sans-serif;
}
